services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: peroni-cloud-app
    container_name: peroni_cloud_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "1001:8000"
    depends_on:
      - db
    env_file: .env

  db:
    image: mysql:8.0
    container_name: peroni_cloud_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - db_data:/var/lib/mysql
    cap_add:
      - SYS_NICE

volumes:
  db_data:
